<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load staticfiles %}
{% load site_tags %}
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Only Cash Surveys</title>
		<LINK href="{% static "common.css" %}" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div id="main">

			<div id="logo">
				<a href="/" style="text-decoration:none"><span style="color:#7f7f7f">Only</span><span style="color:#4e653f">Cash</span><span style="color:#880015">$urveys</span></a>
			</div>
			<div id="freebies">
				<img src="{% static "freebie.jpg" %}" alt="Today's Freebie!"  width="265" height="125" longdesc="Today's Freebie!" />
			</div>

			<div id="mainContent">
				{% block content %}{% endblock %}
			</div>
			<div id="freebiesContent">
				<a href="{% freebie_of_day %}">Freebie link</a>
			</div>
			<div id="quote">
				{% block quote %}{% endblock %}
			</div>

		</div>
		<div id="footer">
			<a href="/faqs">FAQ's</a> | <a href="/privacy">Your Privacy</a> | <a href="/contact">Contact Us</a>
		</div>
	</body>
</html>
